<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TCMSharedFeed" value="https://tfs2020-1:4443/tfs/DefaultCollection/_packaging/TCMSharedFeed/nuget/v3/index.json" />
    <add key="DevExpress Nuget server" value="https://nuget.devexpress.com/hIUv6iLodoqrVgoHcwZMXNz3Hr9BuNNkKyeTEZraU6V2LTfMr2/api" />
  </packageSources>
</configuration>
