
.container {
    h3{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        color:#AABBCC;
        border-bottom: 1px solid #AABBCC;
    }
}

.artigo {
    
    margin: 20px;
    border-radius: 50px 10px;
    max-height: 500px;
    box-shadow: 5px 5px 10px lightgrey;
    padding: 20px;

    img{
        max-width: 100%;
        height: auto;
        display: block;
    }

    h4{
        margin-bottom: 20px;
    }

    iframe{
        max-width: 100%;
    }    

}

.lead{
    margin-top: 15px;
    margin-bottom: 10px;
    max-height: 300px;
    overflow: hidden;
    &:hover { overflow-y: auto;}
}

.leiaMais{

    display: flex;
    justify-content:space-between;
    align-items: center;
    
    span {font-size: 0.8rem;}
    a {font-weight: bold;}
}



