.carrossel {
    max-width: 1120px;
    margin: 0 auto;
    width: 400px;

    img {
        cursor: pointer;
        height: 200px;
        width: 400px
    };

}

.noticias {
    max-width: 500px;
    background-color: black;
}
